$modified-color: #F9CF4F;
$added-color: #64B73A;
$deleted-color: #F5A2A2;
$bold-blue: #1C9EDB;
$bold-blue-contrast: #1886b9;
$bold-green: #64B73A;
$orange: #ff5722;

/*
http://www.colourlovers.com/palette/3304711/Moja_prva
http://www.colourlovers.com/palette/74212/Scrimshaw
*/

html, body {
  height: 100%;
}
body {
  padding:0;
  margin:0;
  background-color: #111;
  position: relative;
  &.code {
    #code-pane {
      display: block;
    }
  }
  &.home {
    #home-pane {
      display: block;
    }
  }
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin:0 0 20px 0;
}

.top-bar {
  &.lesson {
    $background-color: #333;
    width: 30%;
    position: absolute;
    height: 50px;
    top: 0;
    z-index: 5;
    background-color: $background-color;
    color: #9e9e9e;
    & > div {
      height: 50px;
    }
    .step-status {
      position: absolute;
      top: 0;
      right: 110px;
      line-height: 50px;
    }
    .start-over {
      position: absolute;
      left: 0px;
      height: 50px;
      width: 50px;
      cursor: pointer;
      &:hover {
        svg {
          fill: #424242;
        }
      }
      svg {
        width: 26px;
        height: 26px;
        display: block;
        margin: 12px auto 0 auto;
        fill: #757575;
      }
    }
    .prev-next {
      position: absolute;
      right: 0;
      a {
        height: 50px;
        width: 50px;
        display: block;
        text-align: center;
        float: right;
        line-height: 72px;
        &:hover {
          svg {
            fill: $orange;
            circle {
              fill: #efeeeb;
            }
          }
        }
        svg {
          fill: #efeeeb;
          width: 33px;
          height: 33px;
          circle {
            fill: $orange;
          }
        }
      }
    }
  }
  &.code {
    $color: #616161;
    position: fixed;
    top: 50px;
    left: 30%;
    width: 4%;
    z-index: 10;
    div {
      position: relative;
      top: 0;
      left: 0;
      height: 50px;
      margin-bottom: 15px;
      text-align: center;
      color: $color;
      font-size: 9px;
      cursor: pointer;
      svg {
        display: block;
        margin: auto;
        fill: $color;
        stroke: $color;
      }

      &:hover, &.active {
        $color: #efeeeb;
        color: $color;
        svg {
          fill: $color;
          stroke: $color;
        }
      }
    }
  }
}

#lesson-pane {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  overflow: auto;
  background-color: #efeeeb;
  .section-inner {
    margin-top: 50px;
    padding: 20px;
  }
}
.main-pane {
  display: none;
  position: fixed;
  top: 0;
  left: 34%;
  width: 66%;
  height: 100%;
  min-height: 100%;
  overflow: auto;
  background-color: #111;
}
#code-pane, #home-pane {
  > div {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .section-inner {
    padding: 20px 20px 20px 0;
  }
}
#home-pane {
  color: #ccc;
  .sections-wrap {
    .toggle {
      padding: 40px 20px 20px 0;
      &:first-child {
        padding: 0;
      }
    }
  }
  .works-wrap {
    > div {
      padding-left: 20px;
    }
  }
  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #FFF;
    border: 0;
  }
}

table {
  padding:0;
  margin:0;
  width:100%;
  border-collapse: collapse;
  tr {
    padding:0;
    margin:0;
  }
}



@media all and (max-width: 767px) {
  #table-of-contents {
    display:none !important;
  }
}

@media all and (min-width: 767px) {
  #left-pane {
    display: block !important; }
}


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar-thumb {
  background-color: #424242;
}
